.city {
    position: absolute;
    height: 10px;
    width: 10px;

    border-radius: 50%;
    background-color: grey;
}

.route {
    background-color: turquoise;
}

.active {
    background-color: fuchsia;
}
